.Welcome {
    padding: 8px auto;
}

.Welcome p{
    font-size: 1.8rem;
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    letter-spacing: .4px;
    margin: 4rem auto 4rem;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, .2);

    text-align: center;

    /* background: rgba(116, 86, 69, 0.4); */
}