.Header {
    /* width: 100%; */
    height: 56px;
    background: rgba(0, 0, 0, 0.6);
    line-height: 56px;
    margin-bottom: 16px;
    font-family: "Oswald", sans-serif;
    position: sticky;
    top: 20px;
    left: 0;
    width: 100%;
    box-sizing: content-box;
}

.Header h1 {
    font-size: 28px;
}