.Section {
    margin-bottom: 32px;
}

.Section h2 {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 8px;
    font-family: "Oswald", "Lato", "Helvetica", sans-serif;
    text-transform: uppercase;
}

.Section h2.Center {
    text-align: center;
}

.Section h2.noMargin {
    margin: 0;
}